@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Grand Circus<br />
    1570 Woodward Avenue<br />
    Detroit, Michigan 48226<br />
    <abbr title="Phone">P:</abbr>
    313.338.2780
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@grandcircus.co">Support@grandcircus.co</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@grandcircus.co">Marketing@grandcircus.co</a>
</address>